In [83]:
import pandas as pd
import numpy as np
import seaborn as srn
import statistics as sts
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import np_utils
from keras.callbacks import EarlyStopping

In [58]:
dados = pd.read_csv("Credit.csv")
dados

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,'no checking',12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,...,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,<0,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,...,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,0<=X<200,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [59]:
dados.isnull().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [60]:
dados.groupby(dados["checking_status"]).size()
dados.groupby(dados["duration"]).size()
dados.groupby(dados["credit_history"]).size()
dados.groupby(dados["purpose"]).size()
dados.groupby(dados["credit_amount"]).size()
dados.groupby(dados["savings_status"]).size()
dados.groupby(dados["employment"]).size()
dados.groupby(dados["installment_commitment"]).size()
dados.groupby(dados["personal_status"]).size()
dados.groupby(dados["other_parties"]).size()
dados.groupby(dados["residence_since"]).size()
dados.groupby(dados["property_magnitude"]).size()
dados.groupby(dados["age"]).size()
dados.groupby(dados["other_payment_plans"]).size()
dados.groupby(dados["housing"]).size()
dados.groupby(dados["existing_credits"]).size()
dados.groupby(dados["job"]).size()
dados.groupby(dados["num_dependents"]).size()
dados.groupby(dados["own_telephone"]).size()
dados.groupby(dados["foreign_worker"]).size()

foreign_worker
no      37
yes    963
dtype: int64

In [61]:
previsores = dados.iloc[:,0:20].values
classe = dados.iloc[:,20].values

In [62]:
labelencoder = LabelEncoder()
for n in range(20):
    previsores[:,n] = labelencoder.fit_transform(previsores[:,n])

In [63]:
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(previsores,
                                                                  classe,
                                                                  test_size = 0.2,
                                                                  random_state = 0)

In [64]:
modelo = RandomForestClassifier(n_estimators = 500)
modelo.fit(X_treinamento, y_treinamento)

RandomForestClassifier(n_estimators=500)

In [65]:
previsao = modelo.predict(X_teste)
confusao = confusion_matrix(y_teste, previsao)
confusao

array([[ 25,  33],
       [ 15, 127]], dtype=int64)

In [66]:
taxa_acerto = accuracy_score(y_teste, previsao)
taxa_acerto

0.76

In [ ]:
#Redes Neurais

In [91]:
classe2 = labelencoder.fit_transform(classe)

In [92]:
X_treinamento2, X_teste2, y_treinamento2, y_teste2 = train_test_split(previsores,
                                                                  classe2,
                                                                  test_size = 0.2,
                                                                  random_state = 0)

In [93]:
sc = StandardScaler()
X_treinamento2 = sc.fit_transform(X_treinamento2)
X_teste2 = sc.fit_transform(X_teste2)

In [96]:
callback = EarlyStopping(monitor="val_loss", patience=1)
modeloRN = Sequential()
modeloRN.add(Dense(units = 20, kernel_initializer = "uniform", activation = "relu",
                   input_dim = 20))
modeloRN.add(Dense(units = 20, kernel_initializer = "uniform", activation = "relu"))
modeloRN.add(Dense(units = 1, kernel_initializer = "uniform", activation = "sigmoid"))
modeloRN.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])
modeloRN.fit(X_treinamento2, y_treinamento2, batch_size = 10, epochs = 1000,
             validation_data = (X_teste2, y_teste2), callbacks = [callback])

Epoch 1/1000
80/80 [==============================] - 3s 13ms/step - loss: 0.6730 - accuracy: 0.6925 - val_loss: 0.6253 - val_accuracy: 0.7100
Epoch 2/1000
80/80 [==============================] - 1s 8ms/step - loss: 0.5713 - accuracy: 0.6975 - val_loss: 0.5451 - val_accuracy: 0.7100
Epoch 3/1000
80/80 [==============================] - 1s 8ms/step - loss: 0.5322 - accuracy: 0.6975 - val_loss: 0.5348 - val_accuracy: 0.7100
Epoch 4/1000
80/80 [==============================] - 1s 8ms/step - loss: 0.5178 - accuracy: 0.7013 - val_loss: 0.5318 - val_accuracy: 0.7300
Epoch 5/1000
80/80 [==============================] - 1s 8ms/step - loss: 0.5098 - accuracy: 0.7350 - val_loss: 0.5315 - val_accuracy: 0.7450
Epoch 6/1000
80/80 [==============================] - 1s 9ms/step - loss: 0.5037 - accuracy: 0.7462 - val_loss: 0.5295 - val_accuracy: 0.7500
Epoch 7/1000
80/80 [==============================] - 1s 10ms/step - loss: 0.4981 - accuracy: 0.7538 - val_loss: 0.5279 - val_accuracy: 0.7700
Epoch 8/1000
80/80 [==============================] - 1s 8ms/step - loss: 0.4941 - accuracy: 0.7600 - val_loss: 0.5262 - val_accuracy: 0.7650
Epoch 9/1000
80/80 [==============================] - 0s 6ms/step - loss: 0.4884 - accuracy: 0.7600 - val_loss: 0.5237 - val_accuracy: 0.7700
Epoch 10/1000
80/80 [==============================] - 1s 7ms/step - loss: 0.4841 - accuracy: 0.7638 - val_loss: 0.5230 - val_accuracy: 0.7650
Epoch 11/1000
80/80 [==============================] - 1s 9ms/step - loss: 0.4796 - accuracy: 0.7700 - val_loss: 0.5227 - val_accuracy: 0.7700
Epoch 12/1000
80/80 [==============================] - 0s 6ms/step - loss: 0.4745 - accuracy: 0.7700 - val_loss: 0.5217 - val_accuracy: 0.7700
Epoch 13/1000
80/80 [==============================] - 0s 5ms/step - loss: 0.4699 - accuracy: 0.7775 - val_loss: 0.5197 - val_accuracy: 0.7750
Epoch 14/1000
80/80 [==============================] - 1s 7ms/step - loss: 0.4659 - accuracy: 0.7900 - val_loss: 0.5223 - val_accuracy: 0.7700

In [98]:
previsoesRN = modeloRN.predict(X_teste2)
previsoesRN = (previsoesRN > 0.5)

7/7 [==============================] - 0s 4ms/step

In [99]:
confusaoRN = confusion_matrix(y_teste2,previsoesRN)
confusaoRN

array([[ 29,  29],
       [ 17, 125]], dtype=int64)

In [101]:
taxa_acertoRN = accuracy_score(y_teste2, previsoesRN)
taxa_acertoRN

0.77